<footer class="footer">
  <div class="container background-primary">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
            <span class="copyright">Copyright &copy; The BeerBoard - 2016</span>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
            <a href="#" data-toggle="modal" data-target="#privacyPolicy">Política de Privacidade</a>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 text-center"> <a href="#" data-toggle="modal" data-target="#termsAndConditions">Termos de serviço</a></div>            
    </div>
  </div>
</footer>